.nav {  
    grid-area: nav;
    border: 2px dashed black;
    width: 264px;
    
    font-size: 20px;
    color: black;    
  }
  
  .menu {
    padding-top: 40px;
    text-align: center;
  }

  .item {  
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  li:hover {
    color: #b7001d;
  }

  .itemlink {
    text-decoration: none;
    color: inherit;
  }

  a.activeLink {
    color: #b7001d;
  }

  .FavoriteFriendsWrapper {
    margin-top: 50px;
    text-align: center;
  }

  