.passport {
  display: flex; 
  margin-bottom: 30px;
}

.description {
  margin-left: 10px;
  
}

.avatar {
  border-radius: 5px;
}

.header {
  font-family: 'Press start 2P';
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 10px;
}