.messageList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 5px solid #a0a0a054;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 88vh;
    
}

.fieldBlock {
    position: absolute;
    bottom: 0;
    width: 584px;
    
    
}
