@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', monospace;
}

.appWrapper { 
  display: grid;
  width: 1200px;
  margin: 0 auto;
  
  
 
 grid-template-areas:
"header header"
"nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 30px;  
}

.appWrapperContent { 
    display: flex; 
    grid-area: content;
    border: 2px dashed black;
    /* border-bottom: none; */
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;    
     
}

